<section class="todoapp">
  <app-header (title)="addTask($event)"></app-header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section *ngIf="taskByfilter().length > 0" class="main">
      <ul class="todo-list">
        <app-list-task
          (checkedTask)="checkedTask($event)"
          (updateLabel)="checkedTask($event)"
          [listTask]="taskByfilter()"
        ></app-list-task>
      </ul>
      <!-- This footer should be hidden by default and shown when there are todos -->
    </section>
    <app-footer
      (filter)="changeFilter($event)"
      [counterTask]="taskByfilter().length"
      (cleanTasks)="clearTasks()"
    ></app-footer>
  </div>
</section>
